.color-basic {color:hsl(204, 100%, 25%)}

body {
    background: rgba(222, 222, 233, 0.493);
    margin:50px;
    font-family: 'Times New Roman', Times,  sans-serif;
    
}



#iznemums {
    float: right;
    }

 
ul {
    /* height: 25px; */
    list-style-type: none;
    width: 100%;
    margin-bottom: 20px;
    position: fixed;
    top: 20px;
    padding: 0px;
    left: 0;
    overflow: hidden;
    background-color: hsl(204, 100%, 25%);
}
.li{
    font-size: 15px;
    text-indent: 0px;
    text-align: left;
    display: block;
    margin-left: 25px;
    float: left; 
}

#iznemums {
    float: right;
    padding-right:25px;
   }

.li a {
display: block;
block-size: 15px;
color:hsl(204, 100%, 70%);
text-align: center;
text-anchor: center;
padding: 5px;
text-decoration: none;
}

.li a:hover {
    background-color: hsl(204, 100%, 15%);
}
 
.h2 {
padding: 35px;
height: 0px;
text-align: center;
font-size: 56px;

}

.h3 {
padding: 0px;
padding-bottom: 20px;
text-align: center;
font-size: 25px;
}

.center { 
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding-left: 15%;
} 

p {
    font-size: 20px;
    text-indent: 50px;
    text-align: justify;
}

ol{
    font-size: 20px;
    text-indent: 0px;
    text-align: left;
    display: block;
    margin-left: 20%;
}
li{
    margin-left: 30%;
    
  
}



#radio-buttons{
    padding: 50px;
    padding-left: 40%;
}

#icon-row{
    background-color: silver;
    padding:50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:hsl(204, 100%, 25%);
    color: hsl(204, 100%, 70%);
    text-align: center;
}
